p{ 
color: magenta;
font-size: 3rem;
}

#container{

    background-color: peachpuff;
    height: 55vw;
    width: 98vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    flex-wrap: nowrap;
    gap: 10px;
    border: solid blue 10px;

}

.a{

    background-color: rgb(56, 202, 190);
    grid-column: 1/3;
    grid-row: 1/1;

}

.b{

    background-color: rgb(94, 243, 94);
    grid-row: 1/3;
}

.c{

    background-color: grey;

}

.d{

    background-color: black;

}