#container{

    border: solid black 1px;
    width: 98vw;
    height: 25vw;
    display: grid; 
    grid-template-rows: 1fr 6fr 1fr;

}

#header{

    background-color: aqua;
    font-size: 5rem;
}

/*  3 columnns and 4 rows

column 1: width 1/4
column 2: width 2/4
column 3: width 1/4
*/

#main{

    border: solid hotpink 3px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 6px;
    
}

.children{
    background-color: orange;
 
    
}

#footer{

    background-color: green;
}

p{
    font-size: 5rem;
    color:magenta;
}

#insp{

    border:solid royalblue 5px;
    display: grid;
    height: 25vw;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 6px;
    
}

.sidebar{
    background-color: orange;
    height: 200%;

    
}

.sidebarplus{
    background-color: orange;
    width: 15%;
    height: 140%;
   
    
}